<div class="container">
	<div class="jumbotron">

		<div class="row">
			<div class="col-sm-6">
				<div class="card border-primary mb-6">
					<div class="card-header">Progress</div>
					<div class="card-body text-primary">
						<app-progress [progress]="progress"></app-progress>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card border-primary mb-6">
					<div class="card-header">Chances</div>
					<div class="card-body text-primary">
						<app-attempts [attempts]="attempts"></app-attempts>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<div class="card border-primary mb-12">
					<div class="card-header">Traduza a frase:</div>
					<div class="card-body text-primary">
						<h4 class="card-title">{{ rodadaFrase.phraseEng }}</h4>
						<fieldset>
							<div class="form-group">
								<textarea class="form-control" rows="3" (input)="atualizaResposta($event)" [value]="resposta"></textarea>
							</div>
							<button type="submit" class="btn btn-lg btn-primary pull-right" (click)="verificarResposta()">Verificar</button>
						</fieldset>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>